<div class="info">
   <div class="book-cover" id="book-cover">       
   </div>
   <div class="book-info" id="book-info">
    <h3>Title</h3>
    <p id="title"></p>
    <h3>Author</h3>
    <p id="author"></p>
    <h3>Publisher</h3>
    <p id="publisher"></p>
    <h3>ISBN</h3>
    <p id="isbn"></p>
    <br>   
   </div>
</div>

<div id="reviews">
</div>

<form action="/createReview" method="POST" id="myform">
    <div class="form-group">
      <h2>Review This Book</h2>
       <input type="hidden" name="book_id">
        <label for="title">Title:</label>
        <input type="text" class="form-control" rows="1" name="title">
      
        <label for="review">Review:</label>
        <textarea class="form-control" form="myform" rows="5" name="review"></textarea>
        
      
        <label for="rating">Rating:</label>
        <div class="slidecontainer">
            <input type="range" min="1" max="100" value="50" class="slider" name="rating" id="myRange">
          <p>Rating: <span id="demo"></span></p>
        </div>
        <script>
            var slider = document.getElementById("myRange");
            var output = document.getElementById("demo");
            output.innerHTML = slider.value;

            slider.oninput = function() {
              output.innerHTML = this.value;
            }
        </script>
    
    <div>
        <label for="recommend">Would Recommend?:</label>
     <!-- Use an element to toggle between a like/dislike icon -->
    <i onclick="myFunction(this)" class="fa fa-thumbs-up"></i>
     <input type="hidden" name="recommend" id="recommend" value="1">
      <script>
        function myFunction(x) {
            x.classList.toggle("fa-thumbs-down");
            if (document.getElementById("recommend").getAttribute("value") == "1"){
                document.getElementById("recommend").setAttribute("value", "0");
            }
            else{
                document.getElementById("recommend").setAttribute("value", "1");
            }
            console.log(document.getElementById("recommend").getAttribute("value"));
        }
    </script>   
    </div>
    
     <button type="submit" class="btn btn-primary">Submit Review</button>
      
    </div>
</form>





