<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container" onload="getBooks()">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="container-fluid" id="bookContainer">
    <div class="row" id="bookDisplay">
    </div>      
    </div>
    <div id="bookReview" style="display: none;">
        <% include ../partials/review %>        
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>